<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restaurant SignUp</h1>
                    <h5>Get Free Membership</h5><hr>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()"> 
                    <div class="mb-3">
                      <label class="form-label">Full Name</label>
                      <input formControlName="name" type="text" placeholder="Enter Full Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label  class="form-label">Mobile Number</label>
                        <input formControlName="mobile" type="text"  placeholder="Enter Mobile Number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label  class="form-label">Email Id</label>
                        <input formControlName="email" type="email"  placeholder="Enter Email Id" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label  class="form-label">Password</label>
                      <input  formControlName="password" type="password"  placeholder="Enter Password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">SignUp</button><a style="color: blue; margin-left: 140px;" routerLink="/login" >Already Member ? Click to Login!</a>
                  </form>
                  
            </div>
        </div>
    </div>
</div>


